<script type="text/javascript">
    /* 
    * Disable +/- buttons outside 1-99 range.
    * If no size is passed to the function, the parameter will have a value of undefined by default,
    * which prevents any errors 
    */
    function handleEnableDisable(itemId, size) {
        if (size) {
            var currentValue = parseInt($(`.size_${itemId}_${size}`).val());
        } else {
            var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        }
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        // prop() method used to disable the buttons when above conditions are true
        if (size) {
            $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
            $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    // Gets all quantity inputs on page
    var allQtyInputs = $('.qty_input');
    // Iterates through inputs
    for (var i = 0; i < allQtyInputs.length; i++) {
        // calling enable disable function as soon on page loads
        var itemId = $(allQtyInputs[i]).data('item_id');
        var size = $(allQtyInputs[i]).data('size');
        handleEnableDisable(itemId, size);
    }

    // Check enable/disable every time the input is changed
    // Listens to change event on quantity input
    $('.qty_input').change(function () {
        // calls enable disable function when input changes
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Increment quantity
    $('.increment-qty').click(function (e) {
        // prevents default input
        e.preventDefault();
        // Gets item id to pass into handleEnableDisable function
        var itemId = $(this).data('item_id');
        // Gets size for enable/disble function
        var size = $(this).data('size');
        // Goes up the DOM tree to the closest input group,
        // and finds the 1st element with the class qty_input
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        if (size) {
          var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
          var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        // Caches value in currentValue variable
        var currentValue = parseInt($(closestInput).val());
        // Sets input boxes value to currentValue + 1
        $(allQuantityInputs).val(currentValue + 1);
        handleEnableDisable(itemId, size);
    });

    // Decrement quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        if (size) {
          var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
          var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue - 1);
        handleEnableDisable(itemId, size);
    });
</script>